/*Estilos para el splash*/

.background-splash {
    background-color: #470966;
    height: auto;
}

.logo-splash {
    color: #fc7005;
    font-family: 'Lilita One', cursive;
    font-size: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    width: 100%;
}


/*Estilos para el index*/

body {
    background-color: #470966;
}


/*Estilos para la sección del logo y slogan*/

.align-center {
    text-align: center;
}

h1 {
    color: #fc7005;
    font-family: 'Lilita One', cursive;
    font-size: 80px;
    padding-top: 20px;
}

h3 {
    color: white;
    font-family: 'Happy Monkey', cursive;
    font-size: 35px;
    padding-bottom: 20px;
}


/*Estilos para la sección del filtro y mapa*/

.margin-top {
    margin-top: 40px;
}

p {
    color: white;
    font-family: 'Happy Monkey', cursive;
    font-size: 20px;
    text-align: justify;
}

.map {
    margin-bottom: 15px;
}


/*Estilos para la sección de restaurantes*/

img {
    height: 100%;
    padding: 10px;
    width: 100%;
}